/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-image: url("lol2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Amaranth';
  list-style-type: none;
  position: relative;
}

.top-bar {
  opacity: 0.8
}

.top-bar-dropdown-item {
  color: white;
}
.top-bar-dropdown-item:hover {
  color: white;
  background-color: #409BD7;
}

.top-bar-switch {
  position: absolute;
  top: 16px;
  left: 200px;
}
.top-bar-button {
  background-color: #409BD7;
  color: white;
}

.site-title {
  color: white;
  font-size: 35px;
}

.row {
  margin-top: 5px;
}

.reveal {
  background-color: black;
  opacity: 0.8;
  height: 350px;
}

.login-partial {
  padding-top: 50px;
  padding-bottom: 50px;
}

.champion-list li {
  display: inline-block;
  margin: 10px;
}

.callout {
  color: white;
  background-color: black;
  opacity: 0.8;
}

.infoContainer {
  height: 500px;
  overflow-y: scroll;
  margin: 5px;
  padding: 5px;
}

.skinImage {
  background-color: #000;
  opacity: 1;
  transition: opacity 0.5s;
}
.skinName {
  position: relative;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s;
  margin-bottom: -50px;
  margin-left: 5px;
}
.skinContainer:hover > .skinName{
  opacity: 1;
}
.skinContainer:hover > .skinImage {
  opacity: 0.5;
}

.topicsContainer ul {
  list-style-type: disc;
  color: white;
}
.icon-wrapper {
  width: 50px;
  overflow-x: visible;
}

.icon-inner {
  box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.4);
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: width 0.5s, margin-right 0.5s;
  transition: width 0.5s, margin-right 0.5s, background-color 0.5s, border-top-right-radius 0.5s, border-bottom-right-radius 0.5s;
  position: relative;
  font-size: 0;
}

.icon-wrapper:hover .icon-inner{
  background-color: black;
  width: 160px;
  margin-right: -100px;
  z-index: 1000;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 18px;
}
.tab {
  background-color: #409BD7;
  opacity: 0.8;
  margin: 2px;
}

.match-container {
  background-color: black;
  opacity: 0.8;
  width: 180px;
  padding: 2px;
  margin: 1px;
}

.match-info {
  line-height: 100%;
  font-size: 80%;
  margin-top: 6px;
}

.match-container:hover {
  background-color: white;
  color: black;
}

.match-list li {
  display: inline-block;
  height: 93px;
}

.summonerSpell {
  margin-left: 5px;
}

.thumbnail {
  border-style: none;
  margin-top: 6px;
}

.selected {
  background-color: white;
  color: black;
}

.error {
  background-color: black;
  opacity: 0.8;
  padding: 5px;
}


.menu {
  background-color: black;
}

.user_remember_me {
  color: white;
}

.champ-thumb {
  border-radius: 100px;
}

.tabs-panel {
  overflow-y: scroll;
  min-height: 300px;
}

.footer p {
  font-size: 15px;
  color: white;
  margin-top: 100px;
  margin-left: 3px;
  max-width: 100vw;
}

.user-form label {
  color: white;
}

.user-form {
  color: white;
  padding: 15px;
  background-color: grey;
  background-color: rgba(10, 10, 10, 0.5);
}

@-webkit-keyframes redWhite {
  from { color: red }
  to { color: white }
}

#error_explanation h2 {
  font-size: 20px;
}
#error_explanation {
  color: red
  animation-name: redWhite;
  animation-duration: 2s;
  -webkit-animation-name: redWhite;
  -webkit-animation-duration: 2s;
}

.form-buttons {
  display: inline-block;
}

input[type="submit"] {
  background-color: #409BD7;
  color: white;
  padding: 10px;
  border-radius: 2px;
  border-style: none;
}

.show-page {
  margin-left: 10px;
  color: white;
}

.header {
  display: inline-block;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  border-radius: 10px;
}


.losers {
  background-color: red;
  background-color: rgba(228, 10, 10, 0.2);
  border-radius: 10px;
  text-shadow:
              -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000;
}

.winners {
  text-shadow:
              -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000;
}
.winners h4 {
  text-align: right;
}

.reply {
  margin-top: 10px;
  background-color: black;
  text-indent: 10px;
  opacity: 0.8;
  border-style: solid;
}

.indexTopic {
  border-style: solid;
  border-width: thin;
  border-color: white;
  margin-bottom: 3px;
  padding: 3px;
}

.topicList {
  padding: 0;
  margin: 0;
}

.topic {
  margin-top: 10px;
  background-color: black;
  text-indent: 10px;
  opacity: 0.8;
  border-style: solid;
  min-height: 50px;
}

.topics p {
  text-indent: 10px;
  font-size: 15px;
}

.topics a {
  color: white;
}

.dropdown-pane {
  background-color: black;
}

.title {
  max-width: 400px;
}

.content {
  max-width: 400px;
  height: 100px;
  line-height: 28px;
}

.topic-head {
  border-style: solid;
  background-color: black;
  opacity: 0.8;
  padding-left: : 10px;
  margin-bottom: 40px;
  padding: 5px;
  box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.4);
}

.reply {
  z-index: -1;
  box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.4);
}

.reply-form-container {
  margin-top: 10px;
  background-color: black;
  text-indent: 10px;
  opacity: 0.8;
  border-style: solid;
  z-index: -1;
  box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.4);
}
.reply-form {
  padding: 10px;
}

.edit-form {
  padding: 10px;
  opacity: 0.9;
  background-color: black;
}

.reply-content {
  height: 100px;
  z-index: -1;
}

.card-container {
  display: inline-block;
  border-style: none
  width: 120px;
  height: 120px;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  text-shadow:
              -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000;
}

.card-container:hover {
  background-color: white;
}

.player {
  height: 200px;
}

.item-list {
  position: absolute;
  left: 170px;
}
.item-list li {
  display: inline-block;
}

.player-header {
  background-color: black;
  opacity: 0.75;
}
